<header class="header">
  <div class="logo">
    <a href="https://www.voom.flights">
      <img src="{{settings.logo}}">
    </a>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'help_center'}}
      {{!-- {{link 'community'}} --}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>
