<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section>
    <table style="width:100%;text-align:center;">
      <tr>
        <td>
          <strong>San Francisco</strong><br />
          <a href="https://wa.me/14159681665‬">
            <img border="0" alt="WhatsApp" src="{{asset 'WhatsApp_Logo_1.png'}}" width="16" height="16">
          </a>
          <a href="tel:14159681665‬" class="voom-help__link">☎️ +1 ‭(415) 968-1665‬</a><br />
          <a href="mailto:support-us@voom.flights" target="_self">✉️ support-us@voom.flights</a>
        </td>
        <td>
          <strong>São Paulo</strong><br />
          <a href="https://wa.me/551142805344">
            <img border="0" alt="WhatsApp" src="{{asset 'WhatsApp_Logo_1.png'}}" width="16" height="16">
          </a>
          <a href="tel:551142805344" class="voom-help__link">☎️ +55 (11) 4280-5344</a><br />
          <a href="mailto:support-br@voom.flights" target="_self">✉️ support-br@voom.flights</a>
        </td>
        <td>
          <strong>Ciudad de México</strong><br />
          <a href="https://wa.me/525541635980">
            <img border="0" alt="WhatsApp" src="{{asset 'WhatsApp_Logo_1.png'}}" width="16" height="16">
          </a>
          <a href="tel:525541635980" class="voom-help__link">☎️ +52 (55) 4163 5980</a><br />
          <a href="mailto:support-mx@voom.flights" target="_self">✉️ support-mx@voom.flights</a>
        </td>
      </tr>
    </table>
    <br /><br /><br />
  </section>

  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h4 class="blocks-item-title">{{name}}</h4>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{else}}
        {{#each sections}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h4 class="blocks-item-title">
              {{name}}
            </h4>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section>

  <section class="section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section>
</div>
